services:
  backend:
    build: .                  # <--- ADDED THIS: Tells Docker to build your code
    image: java-api:latest    # <--- FIXED TYPO: "lastest" -> "latest"
    restart: always

  caddy:
    image: caddy:alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile  # <--- FIXED: Added the colon ":"
      - caddy_data:/data
      - caddy_config:/config

volumes:
  caddy_data:
  caddy_config: